<a href="https://colab.research.google.com/github/LimEunSeop/TIL-MachineLearning-Yahak/blob/master/practice3_boston_ipynb%EC%9D%98_%EC%82%AC%EB%B3%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 생활코딩 머신러닝 야학 8일차 - 보스턴 집값 예측

## 모델 관련 용어
- 퍼셉트론(perceptron) : 인공신경망 역할을 하는 모형, 수식. 종속변수가 2개인 경우 모델이 2개의 퍼셉트론이 병렬로 연결된 형태가 됨.
- 가중치(weight) : 수식에서 독립변수에 곱해지는 값
- 편향(bias) : 수식에서 더해지는 상수

## 모델 학습 원리
https://docs.google.com/spreadsheets/d/1Ku6LrR2i1ow1o6FsbBugZRKTLDJzzjkNggl81C4jkzs/edit#gid=0

주소를 통해 엑셀에서 실습해볼 수 있다. 가중치와 편향을 처음엔 랜덤값으로 주었다가 조금씩 변화시켜 loss 가 줄어들도록 하는 방법을 취한다.

## 보스턴 집값 예측
- github csv url: https://raw.githubusercontent.com/blackdew/tensorflow1/master/csv/boston.csv

In [1]:
# 라이브러리 사용
import tensorflow as tf
import pandas as pd

In [3]:
# 1.과거의 데이터를 준비합니다.
파일경로 = 'https://raw.githubusercontent.com/blackdew/tensorflow1/master/csv/boston.csv'
보스턴 = pd.read_csv(파일경로)
print(보스턴.columns)
보스턴.head()

Index(['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax',
       'ptratio', 'b', 'lstat', 'medv'],
      dtype='object')

      crim    zn  indus  chas    nox  ...  tax  ptratio       b  lstat  medv
0  0.00632  18.0   2.31     0  0.538  ...  296     15.3  396.90   4.98  24.0
1  0.02731   0.0   7.07     0  0.469  ...  242     17.8  396.90   9.14  21.6
2  0.02729   0.0   7.07     0  0.469  ...  242     17.8  392.83   4.03  34.7
3  0.03237   0.0   2.18     0  0.458  ...  222     18.7  394.63   2.94  33.4
4  0.06905   0.0   2.18     0  0.458  ...  222     18.7  396.90   5.33  36.2

[5 rows x 14 columns]

In [13]:
# 독립변수, 종속변수 분리 
독립 = 보스턴[['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax',
       'ptratio', 'b', 'lstat']]
종속 = 보스턴[['medv']]
print(독립.shape, 종속.shape) # shape 확인하는 작업 꼭 필요하다!

(506, 13) (506, 1)

In [6]:
# 2. 모델의 구조를 만듭니다
X = tf.keras.layers.Input(shape=[13])
Y = tf.keras.layers.Dense(1)(X)
model = tf.keras.models.Model(X, Y)
model.compile(loss='mse')

In [10]:
# 3.데이터로 모델을 학습(FIT)합니다.
model.fit(독립, 종속, epochs=1000, verbose=0)
model.fit(독립, 종속, epochs=10)

Epoch 1/10
16/16 [==============================] - 0s 2ms/step - loss: 25.8459
Epoch 2/10
16/16 [==============================] - 0s 1ms/step - loss: 25.9451
Epoch 3/10
16/16 [==============================] - 0s 1ms/step - loss: 25.5474
Epoch 4/10
16/16 [==============================] - 0s 1ms/step - loss: 25.7315
Epoch 5/10
16/16 [==============================] - 0s 1ms/step - loss: 25.3929
Epoch 6/10
16/16 [==============================] - 0s 1ms/step - loss: 25.4680
Epoch 7/10
16/16 [==============================] - 0s 1ms/step - loss: 25.8998
Epoch 8/10
16/16 [==============================] - 0s 1ms/step - loss: 25.5997
Epoch 9/10
16/16 [==============================] - 0s 1ms/step - loss: 25.7495
Epoch 10/10
16/16 [==============================] - 0s 1ms/step - loss: 25.6127

In [15]:
# 4. 모델을 이용합니다
model.predict(독립[0:5])

array([[28.19484 ],
       [23.43355 ],
       [29.326881],
       [28.617395],
       [27.998709]], dtype=float32)

In [16]:
# 종속변수 확인
종속[0:5]

   medv
0  24.0
1  21.6
2  34.7
3  33.4
4  36.2

In [17]:
# 모델의 수식 확인
model.get_weights()

[array([[-0.08871856],
        [ 0.06732369],
        [-0.05671362],
        [ 3.2155285 ],
        [ 2.3106244 ],
        [ 4.2172203 ],
        [ 0.0080084 ],
        [-0.9055621 ],
        [ 0.15615724],
        [-0.01123074],
        [-0.0842044 ],
        [ 0.01374015],
        [-0.5616137 ]], dtype=float32), array([3.1246858], dtype=float32)]